.file-container {
     & .file {
        padding: 20px;

        & .file__creator-id {
            display: flex;
            align-items: center;
            padding: 0 0 15px 0;
            
            & button {
                margin-left: 10px
            }
        }

        & .file__size {
            padding: 0 0 25px 0;
        }
    }
}
