.sidebar {
  display: flex;
  width: 250px;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.sidebar__user-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 50px;
  gap: 10px;
}

.sidebar__create {
  display: flex;
  flex-direction: column;

  & .titlebtn {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
  }
}

.sidebar__user-content {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.sidebar_resource-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  user-select: none;
  width: 90%;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  color: #f1f1f1;
  transition: background .2s;

  &:hover {
    background: #5c5c5c;
  }

  & p {
    font-size: 16px;
    font-family: monospace;
  }
}
